.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 32px;
}

.section {
  &:nth-child(odd) {
    background-color: $grey-light;
  }
}

.title {
  color: $blue;
  font-size: 40px;
  font-weight: $normal;
  line-height: 64px;
}