// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;
// Colors
$primary: #30C88F;
$white: #FFFFFF;
$grey: #9597A5;
$grey-light: #F4F5F7;
$blue: #2D314D;
$linear-1: linear-gradient(135deg, #33D35E 0%, #2AB6D9 100%);
$linear-2: linear-gradient(135deg, #7EC988 0%, #76bcc9 100%);
// Font weights
$light: 300;
$normal: 400;
$bold: 700;
// Shadows
$shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
// Widths
$max-width: 1200px;