.about {
  padding: 96px 0 94px;
  z-index: -2;
  @media screen and (max-width: $tablet){
    padding: 0;
  }
  .about__inner {
    h2 {
      margin-bottom: 16px;
    }
    .subtitle {
      width: 635px;
      margin-bottom: 72px;
      @media screen and (max-width: $tablet){
        width: 100%;
        text-align: center;
        .subtitle {
          margin-bottom: 56px;
        }
      }
    }
    .about__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      grid-gap: 0 30px;
      .about__feature {
        padding: 0;
        margin-bottom: 32px;
        div {
          display: flex;
          justify-content: flex-start;
          @media(max-width: $tablet){
            justify-content: center;

          }
        }
        .about__image {
          height: 72px;
          width: 72px;
          margin-bottom: 40px;
        }
        h3 {
          font-size: 24px;
          font-weight: $light;
          line-height: 28px;
          margin-bottom: 26px;
        }
        @media screen and (max-width: $tablet){
          h3, p {
            text-align: center;
          }
        }
      }
    }
  }
  
}