.hero {
  position: relative;
  z-index: 2;
  .hero__image {
    img {
      position: absolute;
      left: 1000px;
      z-index: -1;
      top: -250px;
      @media screen and (max-width: $desktop){
        display: none;
      }
    }
  }
  .hero__mockup {
    img {
      position: absolute;
      right: 0;
      transform: translateY(-122px);
      z-index: -1;
      @media screen and (max-width: $desktop){
        display: none;
      }
    }
  }
  .hero__image--mobile {
    img {
      position: absolute;
      z-index: -1;
      display: none;
      top: -120px;
      left: 60px;
      
      @media screen and (max-width: $tablet){
        display: initial;
      }
    }
  }
  .hero__mockup--mobile {
    // position: absolute;
    // top: 137px;
    // left: -101px;
    img {
      width: 328px;
      margin: 0 auto;
      position: absolute;
      z-index: -1;
      display: none;
      @media screen and (max-width: $tablet){
        display: initial;
      }
    }
  }
  .hero__text {
    width: 450px;
    h1 {
      color: $blue;
      font-size: 56px;
      line-height: 64px;
      margin-bottom: 24px;
      padding-top: 140px;
    }
    p {
      margin-bottom: 36px;
    }
    button {
      margin-bottom: 170px;
    }
    @media screen and (max-width: $tablet){
      width: 100%;
      h1 {
        text-align: center;
        font-size: 40px;
        line-height: 47px;
        max-width: 320px;
        margin: 0 auto 16px;
        padding-top: 322px;
      }
      p {
        text-align: center;
        font-size: 15px;
        width: 100%;
      }
      button {
        display: block;
        text-align: center;
        margin: 0 auto 88px;
      }
    }
  }
}