.hero {
  position: relative;
  overflow: hidden;
  .banner__image {
    position: absolute;
    right: 0
  }
  .hero__text {
    width: 450px;
    h1 {
      color: $blue;
      font-size: 56px;
      line-height: 64px;
      margin-bottom: 24px;
      padding-top: 140px;
    }
    p {
      margin-bottom: 36px;
    }
    button {
      margin-bottom: 170px;
    }
    @media screen and (max-width: $tablet){
      width: 100%;
      h1 {
        text-align: center;
        font-size: 40px;
        line-height: 47px;
        max-width: 320px;
        margin: 0 auto 16px;
        padding-top: 322px;
      }
      p {
        text-align: center;
        font-size: 15px;
        width: 100%;
      }
      button {
        display: block;
        text-align: center;
        margin: 0 auto 88px;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    background-image: url(../../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    top: -260px;
    right: -950px;
    display: block;
    height: 1000px;
    width: 100%;
    @media (max-width: 765px) {
      background-image: url(../../images/bg-intro-mobile.svg);
      background-size: contain;
      top: -200px;
      left: 0;
      right: 0;
    }
  }
  &:after {
    content: '';
    position: absolute;
    background-image: url(../../images/image-mockups.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -120px;
    left: 0;
    right: 0;
    height: 402px;
    width: 100%;
    @media (min-width: 765px) {
      background-image: url(../../images/image-mockups.png);
      // background-size: cover; 
      left: 1290px;
      position: absolute;
      width: 700px;
      height: 1000px;
      top: -160px;
    }
  }
}

