.overlay {
  background-image: linear-gradient(180deg, #2D314D 0%, rgba(45,49,77,0.00) 100%);
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  padding-top: 64px;
  position: absolute;
  z-index: 100;
  @media (min-width: 800px) {
    display: none;
  }
}

.is-modalOpen.overlay {
  opacity: 1;
  visibility: visible;
}
